body {
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
}

.container {
  margin: 1rem;
  text-align: center;
}

.site-title {
  font-size: 30px;
  margin: 20px;
}

.nav {
  background-color: #000000;
  color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap : 2rem;
  padding: 0 1rem;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav li.active {
  color:#186F65;
 }

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  color:#186F65;
 }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:#186F65;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#186F65;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}